<form novalidate [formGroup]="quizForm" (ngSubmit)="saveQuiz()">

  <div class="form-group">
    <label class="control-label">Titre*</label>
    <input type="text" class="form-control" placeholder="Titre" formControlName="title">
  </div>

  <div class="form-group">
    <label class="control-label">Description</label>
    <textarea class="form-control" placeholder="Description" rows="3" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">Peut ré-essayer les questions</label>
    <input type="checkbox" formControlName="canRetryQuestion">
  </div>

  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <a routerLink="..">Annuler</a>

</form>
