<div class="row">

  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Question</h3>
      </div>
      <div class="panel-body">
        <p style="font-size:1.5em;">{{ question.title }}</p>
      </div>
      <div class="list-group">
        <div>
          <a class="list-group-item" (click)="clickChoice(choice)" [class.active]="answer.hasChoice(choice)" *ngFor="let choice of question.choices">
            <h4 class="list-group-item-heading">{{ choice.text }}</h4>
          </a>
        </div>
        <div class="list-group-item pull-right">
          <button class="btn btn-lg btn-primary">
            Soumettre
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
